@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root {
    --primary-color:#ed3ad5;
}




body{
    font-family: 'Raleway', sans-serif;
}
/**container**/
.container {
padding-left: 1rem;
padding-right: 1rem;
}

.container-fluid {
    max-width: 600px;
    margin:auto;
    }

/**links**/
/**.link{
    text-decoration: none;
    padding:0.5rem 1rem;
}
.link-primary{
    background-color:var
    (--primary-color);
    border-radius:0.5rem;
    color:azure;
}

.link-secondary{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}**/